/* GENERAL  */
:root {
  --sidebar-heading: #fafafa;
  --sidebar-text: #fafafa;
  --body-text: #fafafa;
  --body-bg: #222;
  --sidebar-bg: #333;
  --sidebar-current: #555;

  --add-button: greenyellow;
  --favorite-button-filled: greenyellow;
  --first-add-button: greenyellow;
  --section-heading-icons: greenyellow;

  --favorite-button: #fafafa;
  --delete-button: #fafafa;
  --menu-button: #fafafa;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
  background-color: var(--body-bg);
  color: var(--body-text);
}

button {
  background: none;
  border: none;
}

input {
  background: none;
  border: none;
  outline: none;
  color: inherit;

  min-width: 0;
}

input:focus {
  border: none;
  outline: none;
}

textarea {
  background: none;
  outline: none;
  border: none;
  resize: none;
  color: inherit;
  font-family: inherit;
  min-width: 0;
}

/* APP */

.app {
}

/* SIDEBAR */

.sidebar {
  background-color: var(--sidebar-bg);
  color: var(--sidebar-text);
  width: 25%;
  position: fixed;
  top: 0;
  bottom: 0;
  overflow-y: auto;

  /* opacity: 0; */
}

.heading {
  font-size: 3rem;
  color: var(--sidebar-heading);
}

.header {
  margin: 2rem 1.5rem;
  margin-bottom: 2.5rem;
  display: flex;
  /* width: 70%; */
  justify-content: space-between;
  align-items: center;
}

.section-heading-cont {
  margin-bottom: 2rem;
}

.section-heading {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 95%;
  margin: 1rem 0rem;
  padding: 0.5rem 1rem;
  border-radius: 7px;
  cursor: pointer;
  /* margin-bottom: 1rem; */
}

.favorites {
  font-size: 2rem;
}

.section-heading-icon {
  height: 2.5rem;
  color: var(--section-heading-icons);
}

.all-notes {
  font-size: 2rem;
}

.add-note {
  height: 3rem;
  cursor: pointer;
  color: var(--add-button);
  display: block;
  transition: all 0.2s ease-out;
}

.add-note:hover {
  transform: scale(1.2);
}

.add-note:active {
  transform: scale(0.8);
}

.note-list {
  margin: 1rem;
}

.note-item-cont {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 95%;
  margin: 1rem 0rem;
  padding: 0.5rem 1rem;
  border-radius: 7px;
}

.note-item {
  padding: 1rem 1rem;
  font-size: 1.7rem;
  cursor: pointer;
}

.favorite-item {
  height: 2rem;
  cursor: pointer;
  color: transparent;
  stroke: var(--favorite-button);
  stroke-width: 1.5px;
  display: block;
}

.favorite-item-filled {
  stroke: var(--favorite-button-filled);
  color: var(--favorite-button-filled);
}

.delete-item {
  height: 2rem;
  cursor: pointer;
  color: var(--delete-button);
  display: block;
  transition: all 0.2s ease-out;
}

.delete-item:hover {
  transform: scale(1.2);
}

.delete-item:active {
  transform: scale(0.8);
}

.current-note {
  background: var(--sidebar-current);
}

.mobile-menu-cont {
  display: none;
  margin-right: 4rem;
  /* padding: 1rem; */
}

.mobile-menu {
  height: 3rem;
  color: var(--menu-button);
  display: block;
  cursor: pointer;
}

/* EDITOR */

.editor-cont {
  position: relative;
  margin-left: 25%;
}

.editor-title-cont {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.blur-body {
  filter: blur(5px);
  transition: all 0.2s;
}

.editor-title {
  font-size: 3rem;
  margin: 1.5rem 3rem;
  font-weight: 600;
}

.editor-body {
  /* background-color: #fff;
  color: #000; */

  width: 65vw;
  height: 80vh;
  /* border: 1px solid #fff; */

  font-size: 1.7rem;
  margin: 0.5rem 3rem;
  padding: 1rem;
  outline: none;
  border-radius: 7px;
  line-height: 1.5;

  overflow-y: hidden;
}

/* Media Queries */
@media (max-width: 720px) {
  .mobile-menu-cont {
    display: block;
  }

  .sidebar-off {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transform: translateX(100%);
  }

  .sidebar {
    right: 0;
    z-index: 1;
    width: 60%;
    transition: all 0.5s ease-out;
  }
  .editor-cont {
    margin-left: 0;
  }
  .editor-body {
    width: 90vw;
    margin-right: 0;
  }
}

/* First Note */

.first-note-screen {
  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 1rem;
}

.first-note-btn {
  color: var(--first-add-button);
  height: 6rem;
  display: block;
  cursor: pointer;
  transition: all 0.2s ease-out;
}

.first-note-btn:hover {
  transform: scale(1.2);
}

.first-note-btn:active {
  transform: scale(0.8);
}
